@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+CL+Guides&family=Playwrite+IN:wght@100..400&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
}
.logo {
  height: 50px;
  width: 50px;
  -webkit-tap-highlight-color: transparent; /* For Chrome, Safari, and other WebKit-based browsers */
    -webkit-focus-ring-color: transparent;    /* For iOS Safari focus */
}
.logo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
ul {
  gap: 10px;
}
header i {
  color: black;
  font-size: 28px;
  -webkit-tap-highlight-color: transparent; /* For Chrome, Safari, and other WebKit-based browsers */
    -webkit-focus-ring-color: transparent;    /* For iOS Safari focus */
    outline: none; /* For removing focus outline */
    cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Arial", sans-serif;
  background-image: linear-gradient(to bottom right, #f67c80, #f974ee);
  overflow: hidden;
}

main{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.text-img-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  transition: all .7s ease;
}
 .bday-cont h1{
    font-family: "Playwrite VN", serif;
    color: #103362;
    background: linear-gradient(to right, #b300ff, #3498db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.name-cont h1{
    font-family: "Playwrite IN", serif;
    font-weight: 600;
    color: #00000000;
   background-image: linear-gradient(135deg, #00dbde 10%, #fc00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.up-anime h1{
  /* align-self: flex-start; */
  font-size: 2.5rem;

}
.up-anime{
    height: 100px;
    overflow: hidden;
    padding-inline: 12px;
    /* width: max-content; */
}
.bday-anime{
    animation: up-animation .9s ease-out ;
}
.name-anime{
      animation: up-animation .9s ease-out ;
}


.cake-img-cont{
  width: 400px;
  height: 250px;
  position: relative;
  animation: fadeIn .9s ease-out;
}

.cake-img-cont img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flame-wrapper{
  height: 30px;
  width: 30px;
  /* background: seagreen; */
  position: absolute;
  top: 4px;
  left: 185px;
  z-index: 1;
  animation: flicker 3ms ease infinite;
  transition: all .7s ease;

}

.black-burn{
  height: 7px;
  width: 2px;
  background: black;
  position: absolute;
  top: 13px;
  left: 198px;
}
.flame{
  border-radius: 50% 0 50% 50%;
  transform: rotate(-45deg);
  position: absolute;
}

.red{
  height: 25px;
  width: 25px;
  background: orangered;
  box-shadow: 0 0 10px 5px orangered;
  left: 0px;
  top: -21px;
}
.orange{
  height: 22px;
  width: 22px;
  background:orange ;
  box-shadow: 0 0 12px 6px orange;
  left: 2px;
  top: -20px;
}
.gold{
  height: 20px;
  width: 20px;
  background: gold;
  box-shadow: 0 0 6px 4px gold;
  left: 4px;
  top: -25px;
}
.white{
  height: 25px;
  width: 25px;
  background: lightyellow;
  box-shadow: 0 0 9px 4px lightyellow;
  left: 1px;
  top: -17px;
}
/* .normal{
    transform: translateY(0%);
    opacity: 1;
} */

.btn {
  margin-top: 20px;
  padding: 10px 35px;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-family: "Poppins", serif;
  background-image: linear-gradient(135deg, #ffdd34 10%, #ff8000 100%);
  animation: fadeIn 1s ease-out;
  -webkit-tap-highlight-color: transparent; /* For Chrome, Safari, and other WebKit-based browsers */
    -webkit-focus-ring-color: transparent;    /* For iOS Safari focus */
    outline: none; /* For removing focus outline */
}
@keyframes up-animation {
    0%{
        transform: translateY(103%);
        opacity: 0;
        }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes left-animation {
    0%{
    transform: translateX(103%);
    opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes flicker {
  0%{
    transform: rotate(-1deg);
  }
  20%{
    transform: rotate(2deg) scaleY(1.05);
  }
  40%{
    transform: rotate(-1deg);
  }
  60%{
    transform: rotate(1deg);
  }
  80%{
    transform: rotate(-1deg) scaleY(0.9);
  }
  100%{
    transform: rotate(1deg);
  }
}
.flex{
    display: flex;
    align-items: center;
  }
  /* after blow */
  .popup-cont{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  /* background: #000; */
}
.popup{
   height: 85%;
   width: 85%;
   /* background: #ff8080; */
  /* background-image: url(/img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
  padding: 15px;
}


  .popup-img{
  height: 320px;
  width: 320px;
  /* width: 100%;
  height: 100%; */
  background: rgba(97, 77, 77, 0.379);
  position: relative;  
}
.star{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-40%,-40%);
  width: 38px;
  animation: rotate 3s linear infinite;
}
#star-2{
  position: absolute;
  top: 0;
  right: -30px;
  transform: translate(-40%,-40%);
  width: 38px;
  animation: rotate 3s linear infinite;
}
.popup-img .image{
  border-radius: 4px;
   height: 100%;
   width: 100%;
   object-fit: cover;
 }
 .message-cont{
  font-size: 24px;
 }
 .message{
  font-family: "Playwrite IN", serif;
  color: white;
  font-size: 24px;
  background-image: linear-gradient(135deg, #0acffe 10%, #495aff 100%);
  /* background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
  background-image: linear-gradient(135deg, #ff0844 10%, #ffb199 100%);
  background-image: linear-gradient(135deg, #f83600 10%, #f9d423 100%); */
  background-image: linear-gradient(135deg, #0d61ec 10%, #de0f82 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
 #message-2{
  background-image: linear-gradient(135deg, #cd2d2d 10%, #ae00ff 100%);
 }
/* animations */
 .popup-img{
  animation: fadeIn 1.5s ease-out;  
}
.fade-in{
  animation: fadeIn 1.5s ease-in-out;
}
.message{
  animation: fadeIn 1.5s ease-out ;
}
 @keyframes rotate {
  from{
    transform:translate(-40%,-40%) rotate(0deg);
  }
  to{
    transform: translate(-40%,-40%) rotate(360deg);
  }
 }
 @keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
 }

 .party-horn{
    position: absolute;
    bottom: 0;
    width: 70px;
    /* left: 0; */
  }
  
  #horn-1{
    left: 0;
    transform: translate(-8px , 13px);
}
#horn-2{
  right: 0;
  transform: translate(8px , 13px);
}
footer p{
  color: rgb(74, 68, 68);
  font-family: "Poppins", serif;
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
}
/* Style Snowballs */
.snow-ball-container .snow-ball {
  position: absolute;
  border-radius: 50%;
  background: white;
}

.snow-ball-container .snow-ball:nth-child(even) {
  width: 16px;
  height: 16px;
  animation: flake-motion 15s linear infinite;
}

/* Position the Snowballs above the screen */
.snow-ball-container .snow-ball:nth-child(1) {
  top: -50%;
  left: 5%;
  width: 20px;
  height: 20px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(2) {
  top: -20%;
  left: 10%;
}

.snow-ball-container .snow-ball:nth-child(3) {
  top: -50%;
  left: 15%;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(4) {
  top: -10%;
  left: 20%;
}

.snow-ball-container .snow-ball:nth-child(5) {
  top: -20%;
  left: 25%;
  width: 20px;
  height: 20px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(6) {
  top: -40%;
  left: 30%;
}

.snow-ball-container .snow-ball:nth-child(7) {
  top: -30%;
  left: 35%;
  width: 5px;
  height: 5px;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(8) {
  top: -20%;
  left: 40%;
}

.snow-ball-container .snow-ball:nth-child(9) {
  top: -50%;
  left: 45%;
  width: 5px;
  height: 5px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(10) {
  top: -5%;
  left: 50%;
}

.snow-ball-container .snow-ball:nth-child(11) {
  top: -20%;
  left: 60%;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(12) {
  top: -10%;
  left: 70%;
}

.snow-ball-container .snow-ball:nth-child(13) {
  top: -50%;
  left: 80%;
  width: 5px;
  height: 5px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(14) {
  top: -20%;
  left: 90%;
}

.snow-ball-container .snow-ball:nth-child(15) {
  top: -50%;
  left: 95%;
  width: 30px;
  height: 30px;
  animation: snowball-animation 12s linear infinite;
}

/* Define animations of Snowball and Snowflakes */
@keyframes snowball-animation {
  0% {
      transform: translate(0);
      opacity: 1;
  }
  20% {
      transform: translate(4px, 100px);
      opacity: 0.8;
  }
  40% {
      transform: translate(-7px, 200px);
      opacity: 0.7;
  }
  60% {
      transform: translate(10px, 400px);
      opacity: 0.5;
  }
  80% {
      transform: translate(-14px, 700px);
      opacity: 0.2;
  }
  100% {
      transform: translate(16px, 900px);
      opacity: 0;
  }
}

@keyframes flake-motion {
  0% {
      transform: translate(-2px, 0);
      opacity: 1;
  }
  20% {
      transform: translate(-9px, 200px);
      opacity: 0.9;
  }
  40% {
      transform: translate(14px, 300px);
      opacity: 0.7;
  }
  60% {
      transform: translate(-22px, 400px);
      opacity: 0.6;
  }
  80% {
      transform: translate(30px, 600px);
      opacity: 0.5;
  }
  90% {
      transform: translate(-40px, 800px);
      opacity: 0.3;
  }
  100% {
      transform: translate(52px, 1000px);
      opacity: 0;
  }
}

@media (min-width:950px) {
  .message{
    font-size: 24px;
   }
}

@media (max-width:500px) {
  .up-anime h1{
  font-size: 9vw;
  }
  .container{
    gap: 22px;
  }
  .message{
    font-size: 15px;
   }
   /* main{
    height: 90vh;
   } */
}
@media (max-width:370px) {
  .message{
    font-size: 12px;
   }
}



.hidden{
  opacity: 0;
}
.none{
  display: none;
}